<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "nitro", root_path, id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <% if logged_in? %>
          <li><%= link_to "Logout", logout_path %></li>
          <% else %>
          <li><%= link_to "Login", user_omniauth_authorize_path(:facebook) %></li>
          <% end %>
        </ul>
      </nav>
    </div>
  </div>
</header>
